body {
	background-image: url("https://www.publicdomainpictures.net/pictures/50000/velka/nature-background-31.jpg");
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

;
.text {
	color: white;
}

a:hover {
	font-size: 300%;
}

a {
	color: #ffffff;
}
